In [1]:
import pandas as pd
import os

In [2]:
cwd = os.path.abspath('')
data_raw = pd.read_csv(fr'{cwd}\data\crops\crops.csv')

In [4]:
data_raw.rename(columns={'label': 'class'}, inplace=True)

In [5]:
data_raw

        N   P   K  temperature   humidity        ph    rainfall   class
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [ ]:
data = data_raw.copy()
for col in data_raw.columns:
    if col == 'class':
        continue
    data[col] = pd.cut(data[col], bins=4)

In [18]:
for col in data.columns:
    values  = "\n".join([str(v) for v in set(data[col].values)])
    print(f'{col} values:\n{values}\n')

N values:
(105.0, 140.0]
(35.0, 70.0]
(-0.14, 35.0]
(70.0, 105.0]

P values:
(40.0, 75.0]
(110.0, 145.0]
(75.0, 110.0]
(4.86, 40.0]

K values:
(55.0, 105.0]
(155.0, 205.0]
(4.8, 55.0]

temperature values:
(17.538, 26.251]
(26.251, 34.963]
(8.791, 17.538]
(34.963, 43.675]

humidity values:
(78.551, 99.982]
(35.689, 57.12]
(14.172, 35.689]
(57.12, 78.551]

ph values:
(6.72, 8.328]
(3.498, 5.112]
(5.112, 6.72]
(8.328, 9.935]

rainfall values:
(19.933, 89.798]
(228.973, 298.56]
(89.798, 159.386]
(159.386, 228.973]

class values:
banana
mungbean
papaya
jute
mothbeans
rice
grapes
coconut
chickpea
maize
coffee
lentil
orange
blackgram
pigeonpeas
cotton
mango
watermelon
apple
pomegranate
muskmelon
kidneybeans