In [5]:
import pandas as pd
import os

Wczytanie danych

In [ ]:
attributes = {
    'class': ['normal find', 'metastases', 'malign lymph', 'fibrosis'],
    'lymphatics': ['normal', 'arched', 'deformed', 'displaced'],
    'block of affere': ['no', 'yes'],
    'bl. of lymph. c': ['no', 'yes'],
    'bl. of lymph. s': ['no', 'yes'],
    'by pass': ['no', 'yes'],
    'extravasates': ['no', 'yes'],
    'regeneration of': ['no', 'yes'],
    'early uptake in': ['no', 'yes'],
   'lym.nodes dimin': [0, 1, 2, 3],
   'lym.nodes enlar': [1, 2, 3, 4],
   'changes in lym.': ['bean', 'oval', 'round'],
   'defect in node': ['no', 'lacunar', 'lac. marginal', 'lac. central'],
   'changes in node': ['no', 'lacunar', 'lac. margin', 'lac. central'],
   'changes in stru': ['no', 'grainy', 'drop-like', 'coarse', 'diluted', 'reticular', 'stripped', 'faint'],
   'special forms': ['no', 'chalices', 'vesicles'],
   'dislocation of': ['no', 'yes'],
   'exclusion of no': ['no', 'yes'],
   'no. of nodes in': ['0-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '>=70']
}

In [ ]:
columns = list(attributes)
cwd = os.path.abspath('')
data_numbers = pd.read_csv(fr'{cwd}\data\lymp\lymphography.csv', names = columns)

In [21]:
set(data_numbers['1.5'].values)

{1, 2, 3}

In [19]:
data_numbers

,3,4,2,1,1.1,1.2,1.3,1.4,2.1,1.5,2.2,2.3,2.4,4.1,8,1.6,1.7,2.5,2.6
0,2,3,2,1,1,2,2,1,2,1,3,3,2,3,4,2,2,2,2
1,3,3,2,2,2,2,2,2,2,1,4,3,3,4,8,3,2,2,7
2,3,3,1,1,1,1,2,1,2,1,3,3,4,4,4,3,1,2,6
3,2,3,1,1,1,1,1,1,1,1,2,2,4,3,5,1,2,2,1
4,2,2,1,1,1,1,1,1,2,1,3,3,3,3,6,3,1,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,3,3,2,1,1,2,2,1,2,1,2,2,4,3,5,2,2,2,4
143,2,2,1,1,1,1,1,1,1,1,1,1,1,1,3,1,2,2,1
144,3,2,2,1,1,1,2,1,2,1,3,3,3,3,8,3,2,2,4
145,2,2,1,1,1,1,1,1,2,1,2,2,4,2,2,1,2,2,1
146,2,2,2,2,1,2,2,1,2,1,3,3,4,3,4,3,2,2,6